public/index.html
<!DOCTYPE html>
<html> 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Test Job for Upwork</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- ================= Favicon =================-->
    <link rel="icon" href="img/logo/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo/favicon.ico" type="image/x-icon">
    <!-- ################# Favicon #################-->
    <!-- ==================== OG Tags ====================-->
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <!-- #################### OG Tags ####################-->
    <!-- ==================== Css ====================-->
    <link rel="stylesheet" href="css/main.css">
    <!-- #################### Css ####################-->
  </head>
  <body>
    <nav class="navigation">
      <div class="container">
        <ul class="menu menu_left">
          <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        </ul>
        <div class="logo"><a class="logo__link" href="#"><span class="logo__text">logo</span></a></div>
        <ul class="menu menu_right">
          <li class="menu__item"><a class="menu__link" href="#">Service</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
        </ul>
        <div class="menu-mob">
          <button class="menu-mob__btn mob-btn"><span></span><span></span><span></span>
          </button>
        </div>
      </div>
    </nav>
    <main>
      <header class="header">
        <div class="container">
          <h1>I am Open Sans 120px</h1>
        </div>
      </header>
      <section class="text-section">
        <div class="container">
          <div class="text-wrapper">
            <h2>I am open sans extra bold 48px</h2>
            <p>Please follow all directions, make fonts the same size, respect margins and spacing.</p>
          </div>
          <div class="images">
            <ul class="images__wrap">
              <li class="images__item"><img src="img/img-1.jpg" alt="image №1"></li>
              <li class="images__item"><img src="img/img-2.jpg" alt="image №2"></li>
              <li class="images__item"><img src="img/img-3.jpg" alt="image №3"></li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <script src="js/main.js"></script>
  </body>
</html>

app/pug/index.pug
doctype html
include modules/_global-variables
include block/_mixsins
html 
    include mainBlock/_head
    body
        include block/_navigation

        main
            header.header
                .container
                    h1= mainText.h1
            +section({ sectClas: 'text-section' })
                .text-wrapper
                    h2= mainText.h2
                    p= mainText.simpleText
                .images
                    ul.images__wrap
                        - for(let i = 1; i < 4; i++)
                            li.images__item
                                img(src= `${mainVar.path.img}img-${i}.jpg` alt= `image №${i}`)
        include mainBlock/_scripts
